
footer {
    background: var(--azul-corporativo);
    color: var(--blanco);
    padding: 3rem 0 1.5rem;
}

footer h5 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

footer a {
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.85;
    transition: opacity 0.3s;
}

footer a:hover {
    opacity: 1;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.img-logo-footer{
    width: 200px;
}