/* You can add global styles to this file, and also import other style files */
:root {
    --azul-corporativo: #084AA3;
    --azul-accion: #0087D7;
    --azul-claro: #3FA1F4;
    --azul-suave: #D5DDFA;
    --blanco: #FEFEFE;
    --gris-suave: #EFEEEA;

    --color-corporate: #084AA3;
    --color-action: #0087D7;
    --color-light-blue: #D5DDFA;
    --color-bg: #EFEEEA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}